name: Build & Push Frontend Docker Image

on:
  [push]
    #branches:
      # main

jobs:
  build-and-push-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME_ASMA }}
          password: ${{ secrets.DOCKERHUB_TOKEN_ASMA }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME_ASMA }}/frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME_ASMA }}/frontend:${{ github.sha }}

