name: Build and Push Frontend Docker Image

on:
  push:
    branches:
      - "feat/GEE-3-build-push-the-docker-image-to-docker-hub-using-github-actions"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME_ISRA }}
          password: ${{ secrets.DOCKERHUB_TOKEN_ISRA }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME_ISRA }}/graphrag-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME_ISRA }}/graphrag-frontend:${{ github.sha }}